.CategoryCard{
    &__text{
      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      color: #F1F2F9;
      margin-bottom: 4px;
    }

    &__img{
      margin: 24px 0;
    }

    &__models{
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #75767F;
    }
}
