@use '../../shared/utils/mixins' as *;


.ProductCard {
  background: #161827;
  //max-width: 288px;
  margin : 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding:  32px;
  //@include on-tablet {
  //  grid-template-columns: repeat(12, 1fr)
  //}

  &__content{
    display: grid;
    grid-column:  1/5;
    //@include on-tablet {
    //  grid-column:  1/12;
    //}
  }

  &__picture{
    object-fit: contain;
    width: 100%;
    max-width: 223px;
    height: 130px;
    margin-bottom: 24px;
  }
  &__title{
    max-height: 42px;
    color: #F1F2F9;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }

  &__price{
    color: #F1F2F9;
    font-weight: 800;
    font-size: 22px;
    line-height: 100%;
  }

  &__fullPrice{
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    text-decoration: line-through;
    color:#89939A
  }

  &__priceContainer{
    display: flex;
    gap: 8px;
    margin: 8px 0
  }

  &__fullWidthLine{
    width: 100%;
    height: 2px;
    background-color: #3B3E4A;
    margin-bottom: 8px;
  }

  &__infoContainer{
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
  }
  &__textLeftSide{
    color: #75767F;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
  }

  &__textRightSide{
    color: #F1F2F9;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
  }

  &__ButtonsContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }

  &__button{
    background: #905BFF;
    color:#F1F2F9;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    padding: 9.5px;
  }

  &__icon{
    padding: 12px;
    background: #323542;
  }

  &__productCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }




}
