@use '../../shared/utils/mixins' as *;

.homePage{
  &__mainText{
    line-height: 41px;
    letter-spacing: -0.0.1em ;
    font-weight: 800;
    font-size: 32px;
    color:#F1F2F9;
    padding: 16px 24px;
    margin: 0 auto;
    max-width: 230px;

    @include on-tablet {
      font-weight: 800;
      font-size: 48px;
      line-height: 56px;
      padding: 32px 24px;
      max-width: 592px
    }
  }
  &__main{
    padding:  0 16px ;
  }

  &__category{
      padding:  56px 16px ;
      max-width: 288px;
      margin: 0 auto;
  }

  &__categoryText{
    font-weight: 800;
    font-size: 22px;
    line-height: 41px;
    color: #F1F2F9;
  }

}
.picture{
    width: 100%;
    margin: 0 auto;
}
