@use '../../shared/utils/mixins' as *;

.homePage{
  display: flex;
  flex-direction: column;
  gap:56px;
  @include on-tablet {
    gap:64px;
  }


  &__sectionMain{
      display: flex;
      flex-direction: column;
      gap: 24px;
    @include on-tablet {
      gap:32px;
    }

    @include on-desktop{
      gap:56px;
      margin: 0 auto;
    }
  }


  &__mainText{
    line-height: 41px;
    letter-spacing: -0.0.1em ;
    font-weight: 800;
    font-size: 32px;
    color:#F1F2F9;
    margin: 0 auto;
    max-width: 300px;

    @include on-tablet {
      font-weight: 800;
      font-size: 48px;
      line-height: 56px;
      max-width: 592px
    }
    @include on-desktop{
      max-width: 1136px;
      margin: 0 ;
    }

  }
  &__productSlider{
    margin:  0  16px;
  }
  &__main{
    padding:  0 16px ;
  }

  &__category{
    display: flex;
    flex-direction: column;
    gap: 32px;
    @include on-tablet {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }
  }

  &__categoryContainer{
      max-width: 288px;
      display: flex;
      flex-direction: column;
      gap:24px;
      margin: 0 auto;
      @include on-tablet {
        max-width: 592px;
      }
      @include on-desktop {
        max-width: 1136px;
      }
  }

  &__categoryText{
    font-weight: 800;
    font-size: 22px;
    line-height: 41px;
    color: #F1F2F9;
  }


}
.picture{
    width: 100%;
    margin: 0 auto;
}
